
.container {
  background: hsl(233, 47%, 7%);
  padding: 150px 135px;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
}

.columns {
  background: hsl(244, 38%, 16%);
  display: flex;
  flex-direction: column;
}

.left {
  background: hsl(244, 38%, 16%);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  width: 45%;
  border-radius: 0 4px 4px 0;
  border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
}

.right {
  width: 50%;
  background-color: hsl(277, 64%, 61%);
  opacity: 0.8;
  background-repeat: no-repeat;
  background-image: url('image-header-desktop.jpg');
  background-blend-mode: overlay;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
}

.title {
  color: hsl(0, 0%, 100%);
  margin-bottom: 1rem;
}
.stat-header {
  color: hsl(277, 64%, 61%);
}
.stat {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 10px 0;
}
.stat-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 55px;
  color: hsl(0, 0%, 100%);
  padding-right: 35px;
}

.attribution{
  position: fixed;
  bottom: 0;
  color:hsl(0, 0%, 100%);
}
h2{
  font-size: 20px;
}
h3 {
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
  /* font:'Lexend Deca'; */
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 8px;
  letter-spacing: 1px;
}
@media (max-width: 375px) {
  
}


